doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Las mejores ofertas de viajes
		link(rel="stylesheet", href="css/styles.css")

	body
		div#header
			h1.title Las mejores ofertas de viajes
			div#menu
				ul
					li 
						a(href="#") Todas las categorias
					li 
						a(href="#") Circuitos
					li 
						a(href="#") Caribe
					li 
						a(href="#") Europa
					li 
						a(href="#") Baleares y Canarias
					li 
						a(href="#") Reserva Anticipada
					li 
						a(href="#") Grandes Viajes
					li 
						a(href="#") Última hora
					li 
						a(href="#") Mediterráneo
		div#content
			div#search
				img.desk(src="static/img/search_bg-full.jpg")
				img.mob(src="static/img/search_bg-full-mob.jpg")
				//h2.serch-title Encuentra el viaje de tus sueños
				//p Circuitos, Estancias, Vuelo+Hotel, Fly&Drive... ¡Tu próxima aventura comienza aquí!
				//div#form


		div#highliths
			div.colum.one
				a(href="#")
					img(src="static/img/dest1.jpg")
				a(href="#")
					img(src="static/img/dest2.jpg")
			div.colum.two
				a(href="#")
					img(src="static/img/dest3.jpg")
				a(href="#")
					img(src="static/img/dest4.jpg")
			div.colum.three
				a(href="#")
					img(src="static/img/dest5.jpg")
				a(href="#")
					img(src="static/img/dest6.jpg")
			div.colum.last
				a(href="#")
					img(src="static/img/dest7.jpg")
				a(href="#")
					img(src="static/img/dest8.jpg")
		script(type='text/javascript' src="js/main.js").

